<nz-layout>
    <nz-header>
        <div class="logo">
            
        </div>
        <ul nz-menu nzTheme="light" nzMode="horizontal">
            <li nz-menu-item>خانه</li>
            <li nz-menu-item>معرفی مرکز</li>
            <li nz-menu-item>دوره های آموزشی</li>
            <li nz-menu-item>اخبار و اطلاعیه ها</li>
            <li nz-menu-item>کلاس ها</li>
            <li nz-menu-item>تماس با ما</li>
            <li nz-menu-item>سبد خرید</li>
        </ul>
    </nz-header>

</nz-layout>