<div class="courses">
    <h3>دوره های ویژه</h3>
    <div class="course-cards">
        <nz-card class="course-card" nzHoverable>
            <nz-card-meta nzTitle="برگزاری آزمون های آنلاین"
                nzDescription="آزمون‌های آنلاین سریع و دقیق برای سازمان‌ها و موسسات.">
            </nz-card-meta>
        </nz-card>

        <nz-card class="course-card" nzHoverable>
            <nz-card-meta nzTitle="آموزش های سازمانی" nzDescription="ارائه دوره‌های تخصصی برای بهبود عملکرد کارمندان.">
            </nz-card-meta>
        </nz-card>

        <nz-card class="course-card" nzHoverable>
            <nz-card-meta nzTitle="تولید محتوای الکترونیکی"
                nzDescription="ساخت انواع محتوای آموزشی و تبلیغاتی دیجیتال.">
            </nz-card-meta>
        </nz-card>

        <nz-card class="course-card" nzHoverable>
            <nz-card-meta nzTitle="برگزاری دوره‌ها و جلسات"
                nzDescription="برگزاری دوره‌های حرفه‌ای و جلسات آموزشی آنلاین و حضوری.">
            </nz-card-meta>
        </nz-card>

        <nz-card class="course-card" nzHoverable>
            <nz-card-meta nzTitle="ارائه مدرک معتبر" nzDescription="صدور مدارک معتبر پس از گذراندن دوره‌های آموزشی.">
            </nz-card-meta>
        </nz-card>
    </div>
</div>