<div class="services">
    <h3>خدمات ما</h3>
    <div class="service-items">
        <a class="service-item" href="#">
            <i class="icon">🎯</i>
            <span>برگزاری آزمون های آنلاین</span>
        </a>
        <a class="service-item" href="#">
            <i class="icon">📚</i>
            <span>آموزش های سازمانی</span>
        </a>
        <a class="service-item" href="#">
            <i class="icon">☁️</i>
            <span>تولید محتوای الکترونیکی</span>
        </a>
        <a class="service-item" href="#">
            <i class="icon">🎤</i>
            <span>برگزاری دوره‌ها و جلسات</span>
        </a>
        <a class="service-item" href="#">
            <i class="icon">📜</i>
            <span>ارائه مدرک معتبر</span>
        </a>
    </div>
</div>