.contents{
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents a {
    color: black;
}

a :hover{
    color: aqua;
}