[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
    width: 80%;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}

.slider{
    height: 350px;
    width: 80%;
    align-items: center;
}

.contents{
    display: flex;
    justify-content: center;
}